<div class="about popup">
  <h3>ABOUT US</h3>
  <span class="description">
	  Life is busy. Life is fast. Life is full of setbacks. They push you forwards or pull you back. <br/><br/> 

	  Let them go. <br/><br/>

	  Don’t punch the wall, don’t brag about it, don’t let it cloud your mind. Fold it up and let it fly away. Let your thoughts be birds soaring in a bright blue sky and something beautiful will come your way. <br/><br/>

	  Take a breath. Find your inner peace. Choose to be the best you can be – For a better life, everyday.
  </span>
  <button class="close-btn">X</button>
</div>