<div class="about popup">
  <h3>About Us</h3>
  <span class="description">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis, maxime, debitis, numquam tenetur eius praesentium sunt qui architecto repudiandae ad sint soluta aliquam sit. Quod, consequuntur numquam est labore quae!

    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, nisi, optio, sint porro quaerat tempora magnam quo eveniet fugiat incidunt atque quas laboriosam omnis. Fugiat, maxime magnam perspiciatis doloremque sunt.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt, illum, totam, nostrum quia dicta officiis labore id quae aliquid voluptate a cumque praesentium animi esse ipsa. Tenetur, fugiat ullam doloribus.
  </span>
  <button class="close-btn">X</button>
</div>