<div class="get-the-app popup">
  <h3>ABOUT THE THOUGHTFOLD APP</h3>
  <span class="description">
  	Clearing your mind of distractions helps you to live an easier life. Thoughtfold allows you to submit what’s running around in your head and watch as it disappears into the sky.
  </span>
  <a href='#'><%= image_tag 'google-play.png', class: 'google-play' %></a>
  <a href='#'><%= image_tag 'app-store.png', class: 'app-store' %></a>
  <button class="close-btn">X</button>
</div>