<div class="get-the-app popup">
  <h3>ABOUT THE THOUGHTFOLD APP</h3>
  <span class="description">
    Paper crane is about clearing your mind and seeing the beauty of everyday life. Whether your thoughts are positive, negative, or anywhere in-between, express yourself and live life in the moment. Enjoy the beauty of our birds and be free.
  </span>
  <a href='#'><%= image_tag 'google-play.png', class: 'google-play' %></a>
  <a href='#'><%= image_tag 'app-store.png', class: 'app-store' %></a>
  <button class="close-btn">X</button>
</div>
