<div class="info">
  <img class="info-img" src="http://petetheplanner.com/site/wp-content/uploads/2013/04/vacation.jpg"/>
  <div class="overlay">
    <span></span> 
  </div>
  <div class="arrow"></div>
  <button class="close-btn">X</button>
</div>