<div class="info">
  <img class="info-img" src="http://petetheplanner.com/site/wp-content/uploads/2013/04/vacation.jpg"/>
  <div class="overlay">
    <span></span> 
    <%= image_tag '/assets/yellow-crane.png', class: 'info-crane' %>
  </div>
  <button class="close-btn">X</button>
</div>