<% classes = ["buttercream-yellow", "seafoam-green", "orange", "blue-dark", "peachy-keen", "plum"] %>
<div class="thought <%= classes[rand(classes.length)] %>">
	<span class="thought-text">
		<%= thought.text %>
	</span>
	<%= image_tag '', class: "thought-img" %>
</div>