<% classes = ["yellow", "green", "orange", "blue", "pink", "purple"] %>
<div class="thought <%= thought.color %>">
	<span class="thought-text">
		<%= thought.text %>
	</span>
	<%= image_tag thought.link, class: "thought-img" %>
</div>