// Place all the styles related to the thought controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Montserrat);

$buttercream-yellow: #fdf0b1;
$buttercream-yellow-dark: #fce780;
$blue-medium: #88cbfe;
$blue-dark: #5fb5f7;
$seafoam-green: #82f0ca;
$peachy-keen: #fda8a8;
$plum: #3e0048;
$orange: #fac657;

$fade-in-time: 1.5s;
$scale: 1.5;

.thoughts {
  width: 920px;
  height: 100%;
  margin: 40px auto;
}

.thought {
  left: 100px;
  top: 100px;

  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 10px;

  background: $buttercream-yellow-dark;
  color: white;
  font-size: 0.0;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1px 1px 1px gray;
  opacity: 0;

  -webkit-transition: all $fade-in-time ease-in;
  -moz-transition: all $fade-in-time ease-in;
  transition: all $fade-in-time ease-in;

  &:nth-child(5n-4){
    background: $orange;
  }

  &:nth-child(5n-3) {
    background: $blue-dark;
  }

  &:nth-child(5n-2) {
    background: $peachy-keen;
  }

  &:nth-child(5n-1) {
    background: $plum;
  }

  &.active {
    -webkit-transform: scale($scale);
    -moz-transform: scale($scale);
    transform: scale($scale);
    opacity: 1;
  }

  &.clicked{
      -webkit-transform: scale($scale);
      -moz-transform: scale($scale);
      transform: scale($scale);
      opacity: 1;
  } 
}

.errors {
  display: inline-block;
  margin: 5px;
  padding: 10px;

  background: #fda8a8;
  color: black;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 1px 1px 1px gray;
  border-radius: 3px;
}

.info {
   -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  position: absolute;
  top: 30%;
  left: 40%;

  display: none;
  width: 300px;

  background: rgb(240, 234, 240);
  border: 3px solid black;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  padding: 10px 10px 30px 10px;
  box-shadow: 0px 0px 3px gray;
  opacity: 0.6;
  border-radius: 5px;
  z-index: 150;
}