// Place all the styles related to the thought controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Montserrat);
@font-face { font-family: WisdomScript; src: url('/Wisdom Script.otf'); } 

$buttercream-yellow: #fdf0b1;
$buttercream-yellow-dark: #fce780;
$blue-medium: #88cbfe;
$blue-dark: #5fb5f7;
$seafoam-green: #82f0ca;
$peachy-keen: #fda8a8;
$plum: #3e0048;
$orange: #fac657;

$fade-in-time: 2s;
$scale-size: 1.4;

@mixin transition-prefixes($end){
  -webkit-transition: #{$end}; 
  -moz-transition: #{$end};
  transition: #{$end};
}

@mixin background-overlay-colors($class, $color){
  &.#{$class}{
    background: $color;

    .overlay {
      background: $color; 
    }
  }
}

.close-btn {
  position: absolute;
  right: 0;
  top: 0;

  border: none;

  cursor: pointer;
  background: none;
  pointer-events: auto;
}

.container{
  width: 1000px;
  margin: 20px auto;
  position: relative;

  .popup {
    position: absolute;  
    display: none; 
    left: 0;
    right: 0;
    top: 130px;

    width: 500px;
    margin: 0 auto;
    padding: 30px;

    font-family: 'Montserrat', sans-serif;
    border: 1px solid red;
    background: #ffffff;
    box-shadow: 0 0 5px gray;
    border-radius: 0px;

    h3 {
      margin-top: 0px;
      color: red;
    }

    &.get-the-app {
      height: 250px;
      
      .google-play {
        position: absolute;
        left: 85px;
        top: 170px;
      }

      .app-store {
        position: absolute;
        left: 275px;
        top: 195px;
      }
    }

  }
}

header {
  margin: 0 auto;
  position: relative;

  height: 100px;
  border-top: 1px solid red;
  border-bottom: 1px solid red;

  h1 {
    position: absolute;
    left: 120px;
    top: 0;

    margin-top: 20px;

    font-family: WisdomScript, sans-serif;
    font-size: 2.5em;
    font-weight: 100;
  }

  h2 {
    position: absolute;
    left: 120px;
    top: 50px;

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
  }

  ul {
    float: right;
    list-style: none;

    li {
      float: left;
      color: red;
      margin: 18px 0 0 30px;

      a {
        border: 1px solid red;
        padding: 3px;

        background: white;
        color: red;
        font-family: 'Montserrat', sans-serif;
        font-size: 1.1em;
        text-decoration: none;

        &:visited { color: red }
        &:hover {
          background: red;
          color: white;
        }

        &.active {
          background: red;
          color: white;
        }
      } // a
    } //li
  } //ul
} //header

.thoughts {
  height: 100%;
  margin: 40px auto;

  @include transition-prefixes("opacity 0.3s ease-in");
}

.thought {
  position: relative;
  // left: 80px;
  // top: 110px;

  display: inline-block;
  width: 75px;
  height: 75px;
  margin: 10px;

  background: $buttercream-yellow-dark;
  font-size: 0.0;
  overflow: hidden;
  //opacity: 0;

  @include transition-prefixes("all #{$fade-in-time}");

  @include background-overlay-colors("buttercream-yellow", $buttercream-yellow);
  @include background-overlay-colors("seafoam-green", $seafoam-green);
  @include background-overlay-colors("orange", $orange);
  @include background-overlay-colors("blue-dark", $blue-dark);
  @include background-overlay-colors("peachy-keen", $peachy-keen);
  @include background-overlay-colors("plum", $plum);


  &.visible {
    -webkit-transform: scale($scale-size); 
    -moz-transform: scale($scale-size);
    transform: scale($scale-size);
    opacity: 0.9;
  }

  .thought-img {
    @include transition-prefixes("all #{$fade-in-time}");
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    opacity: 0;

    &.visible {
      opacity: 1;
    }
  }

}

.errors {
  display: inline-block;
  margin: 5px;
  padding: 10px;

  background: #fda8a8;
  color: black;
  font-family: 'Montserrat', sans-serif;
  box-shadow: 1px 1px 1px gray;
  border-radius: 3px;
}

.info {
  position: absolute;
  top: 35%;
  left: 0;
  right: 0;

  width: 300px;
  margin: 0 auto;
  padding: 30px 10px 30px 10px;
  border: 3px solid black;

  background: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  box-shadow: 0px 0px 3px gray;
  opacity: 0;
  pointer-events: none;
  z-index: 150;

  .info-img {
    width: 300px;
    margin-top: 10px;
    border: 1px solid black;
  }
  
  @include transition-prefixes("all 0.6s");
}

@media (max-width: 480px) {
  .container {
    width: 400px;
    height: 600px;
    overflow-y: hidden;
  }

  .info {
    top: 240px;
  }

  header {
    ul {
      text-align: right; 
      margin-top: 0px;
      li {
        margin-top: 15px;

        float: none;
        font-size: 0.7em;
      }
    }
  }
}

