<!DOCTYPE html>
<html>
<head>
  <title>InternMicrosite</title>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
</head>
<body>

<%= yield %>

</body>
</html>
